.scroll-hidden {
  opacity: 0;
  transform: translateX(-150px);
  &.scroll-hidden-right {
    opacity: 0;
    transform: translateX(150px);
  }
  &.scroll-hidden-bottom {
    opacity: 0;
    transform: translateY(150px) translateX(0);
  }
}
