// font-family: 'RobotoCondensed',sans-serif;
// font-family: 'PTSerif';

@font-face {
  font-family: 'RobotoCondensed';
  src: url('../fonts/roboto_condensed_light.eot'); /* IE 9 Compatibility Mode */
  src: url('../fonts/roboto_condensed_light.eot?#iefix') format('embedded-opentype'),
    /* IE < 9 */ url('../fonts/roboto_condensed_light.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/roboto_condensed_light.woff') format('woff'),
    /* Firefox >= 3.6, any other modern browser */ url('../fonts/roboto_condensed_light.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('../fonts/roboto_condensed_light.svg#roboto_condensed_light')
      format('svg'); /* Chrome < 4, Legacy iOS */
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoCondensed';
  src: url('../fonts/robotocondensed-regular.eot'); /* IE 9 Compatibility Mode */
  src: url('../fonts/robotocondensed-regular.eot?#iefix') format('embedded-opentype'),
    /* IE < 9 */ url('../fonts/robotocondensed-regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/robotocondensed-regular.woff') format('woff'),
    /* Firefox >= 3.6, any other modern browser */ url('../fonts/robotocondensed-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('../fonts/robotocondensed-regular.svg#robotocondensed-regular')
      format('svg'); /* Chrome < 4, Legacy iOS */
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/roboto_condensed.eot'); /* IE 9 Compatibility Mode */
  src: url('../fonts/roboto_condensed.eot?#iefix') format('embedded-opentype'),
    /* IE < 9 */ url('../fonts/roboto_condensed.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/roboto_condensed.woff') format('woff'),
    /* Firefox >= 3.6, any other modern browser */ url('../fonts/roboto_condensed.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('../fonts/roboto_condensed.svg#roboto_condensed') format('svg'); /* Chrome < 4, Legacy iOS */
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoCondensed';
  src: url('../fonts/roboto_condensed_bold.eot'); /* IE 9 Compatibility Mode */
  src: url('../fonts/roboto_condensed_bold.eot?#iefix') format('embedded-opentype'),
    /* IE < 9 */ url('../fonts/roboto_condensed_bold.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/roboto_condensed_bold.woff') format('woff'),
    /* Firefox >= 3.6, any other modern browser */ url('../fonts/roboto_condensed_bold.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('../fonts/roboto_condensed_bold.svg#roboto_condensed_bold')
      format('svg'); /* Chrome < 4, Legacy iOS */
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'PTSerif';
  src: url('../fonts/ptserif-regular.eot'); /* IE 9 Compatibility Mode */
  src: url('../fonts/ptserif-regular.eot?#iefix') format('embedded-opentype'),
    /* IE < 9 */ url('../fonts/ptserif-regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/ptserif-regular.woff') format('woff'),
    /* Firefox >= 3.6, any other modern browser */ url('../fonts/ptserif-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('../fonts/ptserif-regular.svg#ptserif-regular') format('svg'); /* Chrome < 4, Legacy iOS */
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PTSerif';
  src: url('../fonts/ptserif-bold.eot'); /* IE 9 Compatibility Mode */
  src: url('../fonts/ptserif-bold.eot?#iefix') format('embedded-opentype'),
    /* IE < 9 */ url('../fonts/ptserif-bold.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/ptserif-bold.woff') format('woff'),
    /* Firefox >= 3.6, any other modern browser */ url('../fonts/ptserif-bold.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('../fonts/ptserif-bold.svg#ptserif-bold') format('svg'); /* Chrome < 4, Legacy iOS */
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?dutqq5');
  src: url('../fonts/icomoon.eot?dutqq5#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?dutqq5') format('truetype'),
    url('../fonts/icomoon.woff?dutqq5') format('woff'),
    url('../fonts/icomoon.svg?dutqq5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  & span::before {
    transition: 0.3s;
  }
}

.icon-close-outline:before {
  content: '\e90a';
}
.icon-check-circle:before {
  content: '\e90b';
}
.icon-arrow_drop_down:before {
  content: '\e909';
}
.icon-arrow-btn:before {
  content: '\e900';
  color: #f0f0f0;
}
.icon-arrow-converted:before {
  content: '\e90d';
}
.icon-discord .path1:before {
  content: '\e901';
  color: rgb(240, 240, 240);
}
.icon-discord .path2:before {
  content: '\e902';
  margin-left: -0.9560546875em;
  color: rgb(35, 35, 35);
}
.icon-platform .path1:before {
  content: '\e903';
  color: rgb(240, 240, 240);
}
.icon-platform .path2:before {
  content: '\e904';
  margin-left: -0.9560546875em;
  color: rgb(35, 35, 35);
}
.icon-platform .path3:before {
  content: '\e905';
  margin-left: -0.9560546875em;
  color: rgb(35, 35, 35);
}
.icon-platform .path4:before {
  content: '\e906';
  margin-left: -0.9560546875em;
  color: rgb(35, 35, 35);
}
.icon-telegram .path1:before {
  content: '\e907';
  color: rgb(240, 240, 240);
}
.icon-telegram .path2:before {
  content: '\e908';
  margin-left: -0.9560546875em;
  color: rgb(35, 35, 35);
}
